{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee, {{logged_in_employee.name}}!
<br />
<h3>Customers in your zipcode:</h3>
<br />
    {% for item in pick_up_day %}
      <ul>
          <li>{{item.name}} - {{item.weekly_pickup|default_if_none:""}} Pickup Day! {{item.one_time_pickup|default_if_none:""}}</li>
          <li></li>
      </ul>
      {% endfor %}
    
    {{customers_in_my_zipcode.name}}
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}