{% extends 'employees/employee_base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee, {{logged_in_employee.name}}!
<br />
<h3>Customers in your zipcode:</h3>
<br />
    {% for item in trash_picked_up %}
      <ul>
          {{item.name}} - {{item.weekly_pickup|default_if_none:""}} Pickup Day! {{item.one_time_pickup|default_if_none:""}}
            <a href="{% url 'employees:confirm_pickup' item.id %}">Confirm Pickup</a>
          
      </ul>
      {% endfor %}
      <a href="{% url 'employees:search_daily_pickups' 'Monday' %}">Monday</a>
      <a href="{% url 'employees:search_daily_pickups' 'Tuesday' %}">Tuesday</a>
      <a href="{% url 'employees:search_daily_pickups' 'Wednesday' %}">Wednesday</a>
      <a href="{% url 'employees:search_daily_pickups' 'Thursday' %}">Thursday</a>
      <a href="{% url 'employees:search_daily_pickups' 'Friday' %}">Friday</a>
      <a href="{% url 'employees:search_daily_pickups' 'Saturday' %}">Saturday</a>
      <a href="{% url 'employees:search_daily_pickups' 'Sunday' %}">Sunday</a> 
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}